/*GENERAL STYLING */
* {
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
    font-family: 'PT Sans', "sans-serif";
}

/* CUSTOM STYLING */

.catchAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.individualItem {
    box-shadow: 1rem 1rem 2rem 0rem black;
    padding: 1rem;
    margin: 1rem;
}
.individualItemcompleted {
    box-shadow: 1rem 1rem 2rem 0rem black;
    padding: 1rem;
    margin: 1rem;
    text-decoration: line-through;
}
.ToDoForm {
    
}
input, label {
    margin: 1rem;
}